
<table id="apiConfigs" class="display" data-source="<%= api_configs_url(format: "json") %>">
  <thead>
  <tr>
    <th>Provider Name</th>
    <th>Key</th>
    <th>Secret</th>
    <th>Token</th>
    <th>Token Secret</th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
