<h2> Social provider configs</h2>
<table id="apiConfigs" class="display" data-source="<%= api_configs_url(format: "json") %>">
  <thead>
  <tr>
    <th>Provider Name</th>
    <th>Key</th>
    <th>Secret</th>
    <th>Token</th>
    <th>Token Secret</th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</br>
<%= link_to "Create new config", new_api_config_path, remote:true , id:"createNewConfig",
                                 data:{toggle:"popover", container:"body"}, class:"btn btn-md btn-primary"%>

