$('#createNewColumn').popover("destroy");
$('#createNewColumn').popover({
    html:true,
    content:"<%= j render 'columns/form'%>",
    placement:"auto",
    container:"body",
    template:'<div style="width: 500px;" class="popover" role="tooltip"><div class="popover-content"></div></div>'

}).popover('show');
