    <li id="ticket_<%=ticket.id %>" class="ui-state-default"><%=ticket.name%>
      <%= link_to '',column_ticket_path(column,ticket),
                  :method => :delete,
                  remote: true,
                  :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                  :class => 'btn btn-mini glyphicon glyphicon-remove' %>
    </li>
