
<li class="row list-group-item" id="<%= project.id %>">

  <div class="col-sm-4"><%= link_to project.name, organization_projects_path(project) %></div>

  <div class="col-sm-4">

    <div class="col-sm-6"> <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                       edit_organization_project_path(organization,project),remote: true ,:id => 'editProject',:class => 'btn btn-mini glyphicon glyphicon-pencil' %></div>


    <div class="col-sm-6"><%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                      organization_project_path(organization,project),
                                      :method => :delete,
                                      remote: true,
                                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                                      :class => 'btn btn-mini glyphicon glyphicon-remove' %></div>

  </div>

</li>