<h1>Log in</h1>
<%= simple_form_for :sessions, { url: sessions_path } do |f| %>
    <%= f.input :email, placeholder: 'user@domain.com' %>
    <%= f.input :password %>
    <%= f.button :submit, "Sign In" ,class: 'btn btn-primary btn-lg' %>
<% end %>