// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}
.asc {
  background-image: url(/images/up_arrow.gif);
}
.desc {
  background-image: url(/images/down_arrow.gif);
}