<h3> My organizations </h3>
<ul id="organizationsList" class="list-group" >

  <% @organizations.each do |organization| %>

      <%= render 'organization', organization:organization%>

  <%end%>
</ul>
<div>
  <%= link_to "Create new organization",new_organization_path, remote:true , id:"createNewOrganization", data:{toggle:"popover",container:"body"}, class:"btn btn-md btn-primary"%>
</div>

<h3> Shared organizations </h3>
<ul id="shared_organizationsList" class="list-group" >

  <% @shared_organizations.each do |organization| %>

      <%= render 'organization', organization:organization%>

  <%end%>
</ul>

