<div >
  <%= simple_form_for @organization , remote:true do |f| %>
      <%= f.input :name, placeholder: 'Name' %>
      <%= f.input :description %>
      <%= f.button :submit, class: 'btn btn-primary btn-lg' %>

  <% end %>
</div>