<ul id="organizationsList" class="list-group" >

  <% @organizations.each do |organization| %>

      <%= render partial: 'organization', locals: {organization:organization }%>

  <%end%>
</ul>

<div>
  <%= link_to "Create new organization",new_organization_path, remote:true , id:"createNewOrganization", class:"btn btn-lg btn-primary"  %>
</div>


