<div >
  <%= simple_form_for :member, { url: organization_members_path, remote:true}  do |f| %>
      <%= f.collection_select :id, User.where.not(id: Organization.find_by_id(params[:organization_id]).users ), :id, :name  %>
      <%= f.button :submit,'Add member', class: 'btn btn-primary btn-md' %>
  <% end %>
</div>