<h3> Organization members </h3>
<ul id="membersList" class="list-group" >

  <% @members.each do |member| %>

      <%= render  'member', member:member, organization:@organization %>

  <%end%>
</ul>
<div>
  <%if allow? :members, :destroy, @organization %> <%= link_to "Add Member to organization", new_organization_member_path, remote:true, id:"createNewMember", data:{toggle:"popover",container:"body",placement:"bottom"}, class:"btn btn-md btn-primary" %><%end%>
</div>